ansi2html
certifi7.22
charset-normalizer
click
dash0
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
gunicorn0
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
numerize
numpy1
packaging
pandas
plotly0
python-dateutil
pytz3.post1
requests0
retrying
six0
tenacity
typing_extensions
tzdata3
urllib3
Werkzeug
zipp0
